yt-dlp          # For all video/playlist downloads
requests        # For web-based tasks and APIs
colorama        # For making your Windows fixes look pretty in the terminal
tqdm            # To show a progress bar for downloads/file moves
Pillow          # For image-based scripts (Metadata stripping)
streamlit
