yt-dlp          # For all video/playlist downloads
requests        # For web-based tasks and APIs
colorama        # For making your Windows fixes look pretty in the terminal
tqdm            # To show a progress bar for downloads/file moves
Pillow          # For image-based scripts (Metadata stripping)
streamlit       # For UI Web application
ffmpeg          # For video/audio processing (Requires FFmpeg installed on your system)
pdf2docx       # PDF to Word
docx2pdf       # Word to PDF (Requires MS Word installed on Windows/Mac)
pandas         # Excel/CSV handling
openpyxl       # Excel engine
pdf2image      # PDF to Image
python-docx
